body,html{
	/*background:#33353b;*/
	padding:0;
	margin:0;
}
a{
	text-decoration: none;
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999; opacity:1; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;opacity:1;
}

input:-ms-input-placeholder{
    color: #999;opacity:1;
}

input::-webkit-input-placeholder{
    color: #999;opacity:1;
}
.coach-ico{  /*舞台*/

	width:170px;
	height:39px;
	background-size:60px;
	margin:0 auto;
	font-size:20px;
	color:#fff;
	line-height:39px;
	text-align:center;
	position: relative;
    right: 50px;
}

#close-btn{
	background:url(../img/4D66FA87A5B4BDEC750F9AD3356E024B.png) no-repeat center 10px;
	background-size:15px;
}
.seat-linebox{
	width:100%;
	height:35px;
}
.seat-numbox{
	width:6%;
	height:35px;
	float:left;
	text-align:center;
	line-height:35px;
	color:#fff;
	background:#666;
	margin-right:3%;
}
.seat-zico{
	width:10%;
	height:35px;
	float:left;
	background:url(../img/chooseseat_empty@3x.png) no-repeat;
	background-size:20px;
	background-position:center center;
}
.seat-zico.cur{
	width:10%;
	height:35px;
	float:left;
	background:url(../img/chooseseat_chosen_seat@3x1.png) no-repeat;
	background-size:20px;
	background-position:center center;
}
.seat-zico.yxcur{
	width:10%;
	height:35px;
	float:left;
	background:url(../img/chooseseat_chosen_seat@3x1.png) no-repeat;
	background-size:20px;
	background-position:center center;
}
.seat-zico.yzcur{
	width:10%;
	height:35px;
	float:left;
	background:url(../img/chooseseat_occupied_seat@3x1.png) no-repeat;
	background-size:20px;
	background-position:center center;
}
.seat-state-box{
	width:100%;
	/*background:#000;*/
	margin-top:5px;
	padding:10px;
	box-sizing:border-box;
}

.kx-ste,.yx-ste,.yz-ste{
	font-size:12px;
	color:#000;
	height:20px;
	line-height:20px;
	padding-left:30px;
	margin-right:15px;
}
.kx-ste{
	background:url(../img/chooseseat_empty@3x.png) no-repeat;
	background-size:20px;
	
}
.yx-ste{
	background:url(../img/chooseseat_chosen_seat@3x.png) no-repeat;
	background-size:20px;
}
.yz-ste{
	background:url(../img/chooseseat_occupied_seat@3x.png) no-repeat;
	background-size:20px;
}
.pay-btn{
	width:123px;
	height:33px;
    border-radius: 10px;
	line-height:33px;
	text-align:center;
	background:#ff1268;
	position:absolute;

	display:block;
	color:#fff;
	bottom:545px;
	left:1221px;
	font-size:16px;
	z-index:2000;
}