body a:hover{
    color: #ff1268;
    text-decoration: none;
}
.top{
    width:100%;
    height:72px;
    border-bottom:1px solid #dcdcdc;
    position: relative;
    top:0px;
}
.top>ul li{
    width:80px;
    height:72px;
    text-align: center;
    position: relative;
    float:left;
    left:170px;
    top:-68px;
    /*border:1px solid black;*/
    font-size: 16px;
    line-height: 72px;
}

.search{
    width:319px;
    height:46px;
    border-bottom:1px solid #dcdcdc;
    position: relative;
    float:left;
    left:405px;
    top:-51px;
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
    background-color:#f8f8f8;
}
.top #i1{
    position:absolute;
    top:3px;
    left:10px;
}
.search{
    width:250px;
    height:35px;
    background-color:#f8f8f8;
    border:0;
    position: relative;

    /* font-size: 20px;
     left:20px;*/

}
.search .search-input{
    width:260px;
    height:35px;
    position: relative;
    left:47px;
    top:0px;
    font-size: 16px;
    background-color:#f8f8f8;
    /*line-height:35px;*/
    border:0;
}
.sousuo{
    width:82px;
    height:35px;
    font-size: 16px;
    line-height: 36px;
    border-bottom-right-radius: 23px;
    border-top-right-radius: 23px;
    background-color:#ff1268;
    border:0;
    /*font:bolder;*/
    position: relative;
    top:-35px;
    left:305px;
    color: #ffffff;
}
.login-user{
    position: relative;
    left: 1300px;
    bottom: 120px;
    width: 100px;
    height: 100px;

}
.login-user img{
    width:30px;
    height: 30px;
}
.login-user span{
    position: relative;
    top: 3px;
    font-size: 16px;
}
.ticked_name{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid gainsboro;
}
.ticked_name span{
    font-size: 20px;

    position: relative;
    right: 402px;
    top: 14px;

}
.d1{
    width: 1000px;
    height: 1000px;
    position: relative;
    top: 60px;

    }
.shuoming{
    position: relative;
    top: 160px;
    right:80px;
}
.wutai{
    width: 550px;
    height: 60px;
    border-radius: 10px;
    background-color: #999999;
    margin-top: 10px;
    position: absolute;
    bottom: 95px;
    right: -262px;

}
.zw{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 30px;
}

.zj{
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 320px;
}
.ll{
    font-size: 20px;
    position: absolute;
    left: 77px;
    top: 320px;
    color: #ff1268;
}
.lll{
    font-size: 15px;
    position: absolute;
    left: 150px;
    top: 325px;

}
#seat-map{
    position: relative;

}
.seat-state-box{
    position: relative;
    top: -5px;
}
.s1{
    font-size: 20px;
    position: relative;
    left: 20px;
    bottom: 500px;

}
.s2{
    color: #ff1268;
    font-size: 20px;
    position: relative;
    left: 20px;
    bottom: 500px;

}
#selected-seats{
    margin-left: 70px;
}