body{
	background-color: #f8f8f8;
}
.d1{
	width:800px;
	height: 650px;
	margin: 150px auto;

	background-color:white;
}
.tel{
    width: 450px;
	height: 30px;

	padding-top:50px;
	position: relative;
	left: 200px;
}
span{
	color: red;
}
.sjh{
	width: 72px;
	height:30px;
	margin-left: 5px;
	margin-top: 5px;
	float: left;
	padding-left: 10px;
}
.duoxuan{
	position: relative;
	right: -10px;
}
.select{
	width: 120px;
	height:36px;

	float: left;
	border-radius: 6px;

}
.shuru{
	position: relative;
	right: -10px;
}
.sr{
	width: 120px;
	height:30px;
	font-size: 17px;
	float: left;
	border-radius: 6px;
}
.psw{
	width: 500px;
	height: 30px;
	margin-top: 20px;
	position: relative;
	left: 200px;

}
.srmm{
	width: 90px;
	height:30px;
	position: relative;
	top: 5px;
	float: left;

}
.password_one{
	width:240px;
	height:30px;
	position: relative;
	right: -4px;
	float: left;
	border-radius: 6px;
	font-size: 17px;


}
.tip2{
    position: relative;
    left: 5px;
}
.psw_agin{
	width: 500px;
	height: 30px;
	margin-top: 20px;
	position: relative;
	left: 200px;

}
.srmm_agin{
	width: 90px;
	height:30px;
	position: relative;
	top: 5px;
	float: left;

}
.password_agin{
	width:240px;
	height:30px;
	position: relative;
	right: -4px;
	float: left;
	border-radius: 6px;
	font-size: 17px;
}
.tip3{
    position: relative;
    left: 5px;
    height: 30px;

}
.xieyi{
	padding-left: 130px;
	position: relative;
	top: 250px;
}
.xy{
	width: 200px;
	height: 80px;
    position: relative;
    top: -20px;
}
.xy p{
	font-size: 13px;
}
input[type=checkbox]{
	position: relative;
	right: 30px;
	top:15px;
}
input[type=submit]{
	background-color: #ff1268;
	position: relative;
	top:-30px;
	right: 15px;
	width: 130px;
	height: 40px;
	color: white;
	border: none;
	border-radius: 6px;
}
#mpanel4{
    position: relative;
    top: 60px;
    width: 150px;
    height: 60px;
}