body {
    color: #999;
    font-size: 14px;
    font-family: 'Microsoft YaHei',sans-serif !important;
    -webkit-text-size-adjust: none;
}
.top{
    width:1000px;
    height:72px;
    border-bottom:1px solid #dcdcdc;
    position: relative;
    top:0px;
    background-color: #ffffff;
}
.top>ul li{
    width:80px;
    height:72px;
    text-align: center;
    position: relative;
    float:left;
    left:170px;
    top:-68px;
    /*border:1px solid black;*/
    font-size: 16px;
    line-height: 72px;
}

.search{
    width:319px;
    height:46px;
    border-bottom:1px solid #dcdcdc;
    position: relative;
    float:left;
    left:405px;
    top:-51px;
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
    background-color:#f8f8f8;
}
.top #i1{
    position:absolute;
    top:7px;
    left:10px;
}
.search{
    width:250px;
    height:44px;
   /* background-color: #12dcbe;*/
    border:0;
    position: relative;

    /* font-size: 20px;
     left:20px;*/

}
.search .search-input{
    width:260px;
    height:44px;
    position: relative;
    left:47px;
    top:0px;
    font-size: 16px;
    background-color:#f8f8f8;
    /*line-height:35px;*/
    border:0;
}
.sousuo{
    width:82px;
    height:44px;
    font-size: 16px;
    line-height: 36px;
    border-bottom-right-radius: 23px;
    border-top-right-radius: 23px;
    background-color:#ff1268;
    border:0;
    /*  font:bolder;*/
    position: relative;
    top:-45px;
    left:305px;
    color: #ffffff;
}
.login-user{
    position: relative;
    left: 1000px;
border-bottom:1px solid #dcdcdc ;
    bottom: 120px;
    width: 263px;
    height: 125px;
    background-color: #ffffff;


}
.login-user img{
    width:30px;
    height: 30px;
    margin-top: 0px;
    margin-left: 100px;

}
.login-user span{
    position: relative;
    top: 3px;
    font-size: 16px;
}
/*==============支付进度条（总）============*/
/*.w1200{
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    margin-left: 100px;
    margin-top: 30px;
    background-color: #ffd7fa;
}*/

.w1200 img{
    width: 1000px;
    height: 60px;
}
/*==========配送方式==============*/
.way-wenzi{
    width: 1000px;
    height: 30px;
    color: #000;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 100px;
}
.way-image img{
    margin-left: 100px;
}
/*=============联系人=============*/
.delivery-tip{
    margin-top: 30px;
    width: 1000px;
    height: 30px;

}
.delivery-tip img{
    width: 350px;
    height: 30px;
    margin-left: 90px;
}


/*===================联系人表单=======================*/
.delivery-form .delivery-form-row {
    margin-bottom: 10px;
}
.next-row.next-row-no-padding, .next-row.next-row-no-padding > .next-col {
    padding: 0;
    margin-left:50px;
}
.next-row {
    box-sizing: border-box;
    display: flex;
}
.delivery-form .delivery-form-row .delivery-form-title {
    line-height: 24px;
    font-size: 12px;
    color: #333;
    width: 60px;
    text-align: left;
}

.next-col {
    display: inline-block;
}
.delivery-form .delivery-form-row .delivery-form-required {
    color: #ff1268;
    position: relative;
    top: 2px;
}
.next-row *, .next-row ::after, .next-row ::before {
    box-sizing: border-box;
}



.delivery-form .delivery-form-row .delivery-form-required {
    color: #ff1268;
    position: relative;
    top: 2px;
}
.delivery-form-required{
    color: #ff1268;
}
.next-row *, .next-row ::after, .next-row ::before {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
.delivery-form .delivery-form-row .delivery-form-title {
    line-height: 24px;
    font-size: 12px;
    color: #333;
    text-align: left;
}
.delivery-form .delivery-form-row .delivery-form-content .next-input {
    width: 190px;
}
.next-input.next-input-single {
    border-color: #C4C6CF;
    margin-left: -40px;
}
.next-input {
    box-sizing: border-box;
    display: inline-table;
    overflow: visible;
    border: 1px solid #E6E7EB;
    border-top-color: rgb(230, 231, 235);
    border-right-color: rgb(230, 231, 235);
    border-bottom-color: rgb(230, 231, 235);
    border-left-color: rgb(230, 231, 235);
    width: 200px;
    background-color: #FFF;
    transition: all .3s ease-out;
}
.next-input, .next-input-group {
    border-collapse: separate;
    border-spacing: 0;
}
.delivery-form .delivery-form-row .delivery-form-content .next-input input {
    line-height: 26px;
    font-size: 12px;
    height: 26px;
    width: 190px;
}
.next-input.next-input-single input {
    color: #333;
}
.next-input-large input {


    margin: 0;
    padding: 0 8px;
    font-size: 14px;
}
.next-input input, .next-input textarea {

    border: none;
    outline: 0;

    font-weight: 400;
    vertical-align: baseline;
    background-color: transparent;
}
/*====================观演人========================*/

.dm-ticket-buyer {
    margin-top: 30px;
    margin-left: 100px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
}
.dm-ticket-buyer .ticket-buyer-title {
    color: #333;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
}
.dm-ticket-buyer .ticket-buyer-title span.buyer-enough {
    color: #ff1268;
}

.dm-ticket-buyer .ticket-buyer-title span {
    color: #6c6c6c;
    font-size: 12px;
    line-height: 16px;
}
.ticket-buyer-select {
    padding-bottom: 10px;
 /*   border-bottom: 1px solid #ebebeb;*/
    color: #000 !important;
    margin-bottom: 16px;
    margin-left: -100px;

}
.ticket-buyer-select, .ticket-buyer-select .buyer-list .buyer-list-item .next-checkbox-label {
    font-size: 12px !important;
    line-height: 16px !important;
    margin-top: -8px;
}

.ticket-buyer-select .buyer-list {
    float: left;
}

.next-row {

    box-sizing: border-box;
    display: flex;
}
.ticket-buyer-select .buyer-list .buyer-list-item {
    margin-right: 20px;
}
.next-col {
    display: inline-block;
    width: auto;
}
.next-row *, .next-row ::after, .next-row ::before {
    box-sizing: border-box;
}
#container .clear, .express-address .express-address-handle .clear {
    clear: both;
}

.ticket-buyer-detail-wrapper .ticket-buyer-detail-item {
    margin-right: 14px;
    margin-bottom: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 14px 16px 18px;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    width: 237px;
    height: 140px;
}
.ticket-buyer-detail-wrapper .ticket-buyer-detail-item .ticket-buyer-detail-title {
    font-size: 14px;
    color: #000;
    line-height: 20px;
    margin-bottom: 18px;
}

.ticket-buyer-detail-wrapper .ticket-buyer-detail-item .ticket-buyer-detail-content {
    font-size: 12px;
    color: #333;
    line-height: 24px;
}
.ticket-buyer-detail-wrapper .ticket-buyer-detail-item .ticket-buyer-detail-content span {
    display: inline-block;
    width: 75px;
}
.dm-ticket-buyer .ticket-buyer-handle {
    color: #333;
    margin-top: 25px;
    margin-left: -5px;
}
.next-btn::after {
    text-align: center;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}
.dm-ticket-buyer .ticket-buyer-handle > .next-btn {
    height: 24px;
    line-height: 22px;
    font-size: 12px;
    padding: 0 10px;
}
.next-btn-normal, .next-btn-normal.visited, .next-btn-normal:link, .next-btn-normal:visited {
    color: #333;
}
.next-btn-normal {
    border-style: solid;
    background-color: #F7F8FA;
    border-color: #C4C6CF;
}

.next-btn {
    font-size: 14px;
    line-height: 1.28571;
    color: inherit;
    margin: 0;
    overflow: visible;
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-family: inherit;
    background: 0 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all .3s ease-out;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
    border-style: solid;
    text-align: center;
}
.next-btn, .next-btn *, .next-btn ::after, .next-btn ::before, .next-btn::after, .next-btn::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.next-btn, .next-input {
    -webkit-transition: all .3s ease-out;
}
.next-btn, .next-icon, em, i {
    font-style: normal;
}
.next-btn, .next-icon {
    text-transform: none;
    font-style: normal;
}

/*===============支付方式==========================*/
.pay-type-title{
    width: 1000px;
    height: 24px;
    color: #333;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    margin-left: 100px;
}

.pay-type-title img{
    width: 80px;
    height: 80px;

}
.pay-img{
    width:1000px;
    height: 80px;
    margin-left: 100px;
}
.pay-img img{
    width:180px;
    height: 60px;
}
/*================订单生成======================*/
.dm-item {
    margin-top: 30px;
    margin-left: 90px;
    margin-right:90px ;
}
.dm-item .dm-item-title {
    color: #000;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
}
.next-table {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    font-family: Roboto,"Helvetica Neue",Helvetica,Tahoma,Arial,"PingFang SC","Microsoft YaHei";
    font-size: 14px;
    line-height: 1.28571;
    position: relative;
}
/*next-table-inner*/
.next-table *, .next-table ::after, .next-table ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.next-table-body, .next-table-header {
    overflow: auto;
    font-size: 14px;
}
.next-table-header-inner, .next-table-lock-left .next-table-body, .next-table-lock-right .next-table-body {
    overflow: hidden;
}
.next-table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
    background: #fff;
}
.order-info-list.next-table .next-table-header .next-table-header-node.first {
    border-width: 1px 0 1px 1px;
}
.order-info-list.next-table .next-table-cell-wrapper {
    text-align: center;
    font-size: 12px;
}
.next-table th .next-table-cell-wrapper {
    padding: 12px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.order-info-list.next-table th {
    border-color: #ebebeb;
    color: #333;
    line-height: 16px;
}
.next-table th {
    padding: 0;
    background: #EBECF0;
    color: #333;
    text-align: left;
    font-weight: 400;
    border: 1px solid #DCDEE3;
}
.order-info-list.next-table th {
    color: #333;
    line-height: 16px;
}
.next-table-body {
    font-size: 14px;
}
.next-table-body, .next-table-header {
    overflow: auto;
    font-size: 14px;
}
.next-table-row {
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}
.dm-item .order-info-list .next-table-body .next-table-row.first .next-table-cell.first {
    border-left: 0;
    border-bottom: 0;
    position: relative;
    left: 40px;
}
.order-info-list .project-name-wrapper.next-row .next-col {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding: 0;
}
.order-info-list .project-name-wrapper .project-name-img {
    margin-right: 16px;
    width: 62px;
}
.order-info-list .project-name-wrapper .project-name-img img {
    width: 62px;
    height: 80px;
}

.order-info-list .project-name-wrapper .project-name-right {
    text-align: left;
}

.order-info-list .project-name-wrapper.next-row .next-col {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding: 0;
}
.dm-item .order-info-list .next-table-body .project-name-wrapper .project-name-right > .next-row {
    width: 278px;
}
.order-info-list .project-name-wrapper .project-name-right .project-name, .order-info-list .project-name-wrapper .project-name-right .project-name-venue {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   /* width: 260px;*/
}
.order-info-list .project-name-wrapper .project-name-right .project-name {
    color: #4a4a4a;
    margin-bottom: 4px;
}
.order-info-list .project-name-wrapper .project-name-right .project-name-perform, .order-info-list .project-name-wrapper .project-name-right .project-name-tips, .order-info-list .project-name-wrapper .project-name-right .project-name-venue {
    color: #9b9b9b;
    margin-bottom: 2px;
}
.project-name-right .project-name-venue {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 260px;
}
.order-info-list .project-name-wrapper .project-name-right .project-name-venue {
    color: #9b9b9b;
    margin-bottom: 2px;
}
.dm-item .order-info-list .next-table-body .project-name-wrapper .project-name-right > .next-row {
    width: 278px;
}

.order-info-list .project-name-wrapper .project-name-right .project-name-perform, .order-info-list .project-name-wrapper .project-name-right .project-name-tips, .order-info-list .project-name-wrapper .project-name-right .project-name-venue {
    color: #9b9b9b;
    margin-bottom: 2px;
}
.dm-invoice {
    display: none;
    width: 400px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.dm-invoice, .dm-pay-detail {
    line-height: 16px;
    padding: 16px;
    color: #826666;
    height: 46px;
    font-size: 12px;
    background: #f7f7f7;
}

/*-==========贴图=================*/
.tupian{
    width: 1085px;
    height: 40px;
    background-color: #eceff8;
    margin-left: 90px;
}
.text-1{
    width: 400px;
    height: 25px;
    /*background-color: #54e0b0;*/
    position: relative;
    top: 15px;
    left: 25px;
    font-size: 12px;


}

/*-========同意协议付款========================*/

.term-wrapper {
    margin: 15px 0;
    line-height: 20px;
    color: #826666;
    font-size: 12px;
}
.submit-wrapper, .term-wrapper {
    text-align: right;
    margin-right: 80px;
}
.term-wrapper .term-wrapper-top .next-checkbox {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    position: relative;
    top: -1px;
}
.next-checkbox {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 16px;
    height: 16px;
    line-height: 14px;
}
.next-checkbox.checked .next-checkbox-inner {
    border-color: #FF6A00;
    background-color: #FFF;
}
.next-checkbox .next-checkbox-inner {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #FFF;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 1px solid #C4C6CF;
    border-top-color: rgb(196, 198, 207);
    border-right-color: rgb(196, 198, 207);
    border-bottom-color: rgb(196, 198, 207);
    border-left-color: rgb(196, 198, 207);
    -webkit-transition: ease all .3s 0s;
    transition: ease all .3s 0s;
    text-align: left;
}
.term-wrapper .term-wrapper-top .next-checkbox input {
    width: 12px;
    height: 12px;
}
.next-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin: 0;
}
.order-pay-wrapper {
    text-align: right;
    font-size: 12px;
    padding: 16px 14px;
    background: #f7f7f7;
    margin-right: 80px;
}
.order-pay-wrapper .order-pay-top {
    color: #333;
    line-height: 16px;
}

.order-pay-wrapper .order-pay-top span {
    font-size: 26px;
    line-height: 32px;
    color: #999;
}
.next-checkbox .next-checkbox-inner {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #FFF;
    border-radius: 3px;
    border: 1px solid #C4C6CF;
    -webkit-transition: ease all .3s 0s;
    transition: ease all .3s 0s;
    text-align: left;
}
.term-wrapper .term-wrapper-top > em a {
    color: #ff1268;
}
.sidebar .item a, a, a:hover {
    text-decoration: none;
}
.submit-wrapper, .term-wrapper {
    text-align: right;
}
.order-pay-wrapper {
    text-align: right;
    font-size: 12px;
    padding: 16px 14px;
    background: #f7f7f7;
}
.order-pay-wrapper .order-pay-top {
    color: #333;
    line-height: 16px;
}

.order-pay-wrapper .order-pay-top span {
    font-size: 26px;
    line-height: 32px;
    color: #999;
}
.order-pay-wrapper .order-pay-top span em {
    color: #ff1268;
}

.submit-wrapper, .term-wrapper {
    text-align: right;
}
.next-btn::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.next-btn::after {
    text-align: center;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}
.submit-wrapper .next-btn {
    background: #ff1268;
    color: #fff;
    line-height: 20px;
    padding: 10px 30px;
    height: auto;
}
.next-btn-medium {
    margin: 0;
    height: 28px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 26px;
    border-width: 1px;
}














