body a:hover{
	color: #ff1268;
	text-decoration: none;
}
.top{
	width:100%;
	height:72px;
	border-bottom:1px solid #dcdcdc;
	position: relative;
	top:0px;
}
.top>ul li{
	width:80px;
	height:72px;
	text-align: center;
	position: relative;
	float:left;
	left:170px;
	top:-68px;
	/*border:1px solid black;*/
	font-size: 16px;
	line-height: 72px;
}

.search{
	width:319px;
	height:46px;
	border-bottom:1px solid #dcdcdc;
	position: relative;
	float:left;
	left:405px;
	top:-51px;
	border-bottom-left-radius: 23px;
	border-top-left-radius: 23px;
	background-color:#f8f8f8;
}
.top #i1{
	position:absolute;
	top:3px;
	left:10px;
}
.search{
	width:250px;
	height:35px;
	background-color:#f8f8f8;
	border:0;
	position: relative;

	/* font-size: 20px;
     left:20px;*/

}
.search .search-input{
	width:260px;
	height:35px;
	position: relative;
	left:47px;
	font-size: 12px;
	background-color:#f8f8f8;
	/*line-height:35px;*/
	border:0;
}
.search .sousuo{
	width:82px;
	height:35px;
	font-size: 16px;
	line-height: 36px;
	border-bottom-right-radius: 23px;
	border-top-right-radius: 23px;
	background-color:#ff1268;
	border:0;
	position: relative;
	top:-35px;
	left:305px;
	color: #ffffff;
}
.login-user{
	position: relative;
	left: 1300px;
	bottom: 120px;
	width: 100px;
	height: 100px;

}
.login-user img{
	width:30px;
	height: 30px;
}
.login-user span{
	position: relative;
	top: 3px;
	font-size: 16px;
}
.d1{
	width:800px;
	height: 650px;
	margin: 150px auto;

	background-color:white;
}
.tel{
    width: 450px;
	height: 30px;

	padding-top:50px;
	position: relative;
	left: 200px;
}
span{
	color: red;
}
.sjh{
	width: 72px;
	height:30px;
	margin-left: 5px;
	margin-top: 5px;
	float: left;
	padding-left: 10px;
}
.duoxuan{
	position: relative;
	right: -10px;
}
.select{
	width: 120px;
	height:36px;

	float: left;
	border-radius: 6px;

}
.shuru{
	position: relative;
	right: -10px;
}
.sr{
	width: 120px;
	height:30px;
	font-size: 17px;
	float: left;
	border-radius: 6px;
}
.psw{
	width: 500px;
	height: 30px;
	margin-top: 20px;
	position: relative;
	left: 200px;

}
.srmm{
	width: 90px;
	height:30px;
	position: relative;
	top: 5px;
	float: left;

}
.password{
	width:240px;
	height:30px;
	position: relative;
	right: -4px;
	float: left;
	border-radius: 6px;
	font-size: 17px;


}
.tip2{
    position: relative;
    left: 5px;
}
.psw_agin{
	width: 500px;
	height: 30px;
	margin-top: 20px;
	position: relative;
	left: 200px;

}
.srmm_agin{
	width: 90px;
	height:30px;
	position: relative;
	top: 5px;
	float: left;

}
.password_agin{
	width:240px;
	height:30px;
	position: relative;
	right: -4px;
	float: left;
	border-radius: 6px;
	font-size: 17px;
}
.tip3{
    position: relative;
    left: 5px;
    height: 30px;

}
.xieyi{
	padding-left: 130px;
	position: relative;
	top: 250px;
}
.xy{
	width: 200px;
	height: 80px;
    position: relative;
    top: -20px;
}
.xy p{
	font-size: 13px;
}
input[type=checkbox]{
	position: relative;
	right: 30px;
	top:15px;
}
input[type=submit]{
	background-color: #ff1268;
	position: relative;
	top:-30px;
	right: 15px;
	width: 130px;
	height: 40px;
	color: white;
	border: none;
	border-radius: 6px;
}
#mpanel4{
    position: relative;
    top: 60px;
    width: 150px;
    height: 60px;
}
.under img{
	width:1519px;
	height:350px;
	position: relative;
	top:250px;
	left:-550px;

}